<div class="images" id="footerimgs">
<img alt="backlit mammoth" class="photo" src="city.jpg"/>
<img alt="mammoth underbelly" class="photo" title="rub my tummy!" src="tummy.jpg"/>
<img alt="mammoth on The Way Things Work" class="photo" title="shout out to David Macaulay" src="twtw.jpg"/>
</div>
</div>
</div>
</body>
</html>
