body {
 background: url(furbg.png);
 font-family: "linux libertine", serif;
 font-size: 18px;
}

div#content {
 border-radius: 2em;
 padding: 2em;
 margin-top: 2em; 
 margin-bottom: 2em; 
 max-width: 50em;
 margin-left: auto;
 margin-right: auto;
 background: rgba(255, 255, 187, 0.85);
}

h1 {
 text-align: center;
 font-size: 300%;
 text-shadow: #f88 4px 4px 3px, #f88 -4px -4px 3px, #f88 -4px 4px 3px, #f88 4px -4px 3px;
}
h2 {
 text-shadow: #f88 4px 4px 3px, #f88 -4px -4px 3px, #f88 -4px 4px 3px, #f88 4px -4px 3px;
}
h3 {
 text-shadow: #f88 3px 3px 2px, #f88 -3px -3px 2px, #f88 -3px 3px 2px, #f88 3px -3px 2px;
}

div.images {
 text-align: center;
}

div.images img.photo {
 border-radius: 2em;
}

div#patternimgs {
 text-align: center;
 padding: 1em;
}

a {
 color: #f88;
 font-weight: bold;
 text-shadow: #333 0px 2px 2px, #333 2px 0px 2px, #333 0px -2px 2px, #333 -2px 0px 2px;
}

a img {
 border: 2px solid #f88;
}
